body {
  --color-primary-lighter: #e3e3ff;
  --color-primary-light: #7c7cd7;
  --color-primary: #4f4f93;
  --color-primary-dark: #383875;
  --color-secondary: #283845;
  --color-secondary-mid: #243240;
  --color-secondary-dark: #202C39;
  --color-error: #cc4333;
  --color-success: #4bb544;
  --border-radius: 10px;

  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background: url("icons/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.whiteBg {
  background-color: var(--color-secondary-dark);
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  visibility: hidden;
}

iframe {
  display: none;
}

.hidden {
  visibility: hidden;
}

.mask {
  z-index: 5;
  opacity: 0.3;
  background-color: black;
  position: absolute;
  width: 100vw;
  height: 100vh;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  right: 0;
}

.fade {
  z-index: 4;
  opacity: 0.3;
  background-color: black;
  position: absolute;
  width: 100vw;
  height: 100vh;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  right: 0;
}

.znone {
  z-index: 2;
}

.container {
  width: 80vw;
  max-width: 800px;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 0 30px -5px rgba(0, 0, 0.2);
  border-radius: var(--border-radius);
  background: var(--color-secondary);
}


/* home styling */

.home {
  display: flex;
  width: 100vw;
  height: 100vh;

  font-family: 'Inter' !important;
  font: 400 1rem;
  justify-content: flex-end;
}

.home__content {
  width: 79vw;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0.2, 0.1);
}

.chatHeader {
  width: 20vw;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  background: url("icons/headerBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  position: fixed;
  top: 15vh;
  font-family: 'Inter';
}

.addChatButton {
  background-color: white;
  border: none;
  border-radius: 200px;
  margin-left: auto;

  height: 60px;
  width: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.addChatButton:hover {
  filter: brightness(0.8);
}

.addChatIcon {
  height: 40px;
  width: 40px;
  color: var(--color-primary-light);
}

.currentChatHeader {
  width: fit-content;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #353535;
  background: var(--color-primary);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  border-top: none;
  border-bottom: none;
  overflow-x: hidden;
  height: 100%;
  padding-left: 20px;
  font-family: 'Inter';
  font-weight: bold;
}

.currentChatHeader .userIcon_container {
  margin: 20px;
}

.currentChatHeader h1 {
  color: rgb(214, 214, 214);
  margin: 20px;
  font-size: 1.5vw;
}

.currentChatHeader img {
  width: 50px;
}

.gear {
  height: 40px;
  width: 40px;
  padding: 10px;
  color: var(--color-primary-light);
  background-color: transparent;
  border-radius: 10px;
  margin-left: auto;
  margin-right: 10px;
}

.gear:hover {
  filter: brightness(0.9);
}

.chat {
  margin-top: 5px;
  width: 22vw;
  padding-left: 1vw;
  padding-right: 1vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color-primary-lighter);
  background-color: var(--color-secondary-mid);
  border: none;
  overflow-x: scroll;
  white-space: nowrap;
  font-family: 'Inter';
}

.chat:hover {
  filter: brightness(0.9);
  cursor: pointer;
}

.chat img {
  width: 46px;
  background: white;
  border: 2px solid white;
  padding: 2px;
  border-radius: 5px;
}

.userIcon_container img {
  border: none !important;
  padding: 0 !important;
}

.chat h1 {
  text-align: left;
  padding-left: 10px;
  overflow: visible;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post {
  position: absolute;
  bottom: 0;
}

.postInput {
  width: calc(65vw - 12px);
  height: 100px;
  border-top: 2px solid var(--color-secondary-dark);
  border-bottom: none;
  outline: none;
  padding: 0;

  line-height: 1;
  padding: 4px;
  overflow-y: scroll;
  margin: 0;
  color: rgb(216, 216, 216);
}

.postHeader {
  width: calc(65vw - 12px) !important;
  max-width: calc(60vw - 12px) !important;
  max-height: 31px;
  outline: none;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  color: rgb(216, 216, 216);

  overflow-x: scroll !important;
}

.openMessage {
  padding: 10px;
  height: 40px;
  width: 40px;
  z-index: 12;
  background: var(--color-secondary);
  border-radius: 10px;
  position: absolute;
  bottom: 50px;
  right: 50px;
  color: var(--color-primary);
}

.openMessage:hover {
  color: var(--color-primary);
  filter: brightness(1.2);
}

.postMessage {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 65vw;
  height: 700px;
  max-height: 250px;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-bottom: 80px;
  color: #353535;
  background-color: var(--color-secondary);
  border: none;
  border-radius: 10px;
  z-index: 10;
}

.message {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 700px;
  max-height: 400px;
  margin-bottom: 10px;
  margin-top: 20px;
  padding-bottom: 80px;
  color: #353535;
  background-color: var(--color-secondary-dark);
  border: none;
  border-radius: 10px;
  z-index: 1;
  align-items: center;
}

.message:hover {
  filter: brightness(0.99);
}

.message_content {
  position: relative;
  font-family: 'Inter';
  overflow: hidden;
  text-align: left;
  margin: 10px;
}

.message_author_info {
  display: flex;
  margin-left: 10px;
  border-radius: 10px;
}

.message_author_info p {
  margin: 0;
  padding: 0 !important;
}

.message p {
  font-size: 20px;
  font-weight: 100;
  color: rgb(212, 212, 212);

  height: fit-content;
  max-height: 210px;
  line-height: 1.6;
  width: 35vw;
  padding-left: 20px;
  overflow: auto;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}

.message img {
  width: 5vw;
  max-width: 40px;
  margin: 10px;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

.message h1 {
  margin: 0;
  margin-top: 10px;
  color: var(--color-primary-lighter);

  max-width: 60vw;
  overflow-x: scroll;
}

.bottom_gradient {
  position: absolute;
  bottom: 0px;
  width: 35vw;
  box-shadow: 0px 0px 30px 20px var(--color-secondary);
  z-index: 1;
}

.postMessage_options {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;

  width: 96%;
  padding-bottom: 16px;

  border-top: 2px solid var(--color-secondary-dark);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: var(--color-secondary);
  align-items: center;
  z-index: 10;
}


.message_options {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  background-color: var(--color-secondary-dark);
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;

  border-top: 2px solid var(--color-secondary);
  border-radius: 10px;
  align-items: center;
}

.message_options div {
  display: flex;
  align-items: center;
  height: 25px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  margin: 5px;
  border-radius: 10px;

  background-color: var(--color-secondary);
}

.message_options div svg {
  margin: 0 !important;
}


.message_options h1 {
  color: #3a4e5e;
  width: 40px;
  height: 40px;
  margin: 5px;
  line-height: 40px;
}

.message_icon {
  width: 25px;
  height: 25px;
  margin: 5px;
  padding: 7.5px;
  z-index: 2;
  border-radius: 10px;

  color: #3a4e5e;
  background-color: var(--color-secondary);
}

.message_icon:hover {
  filter: brightness(1.2);
  background-color: var(--color-secondary);

  color: var(--color-primary);
}

.home__sidebar {
  position: absolute;
  width: 25vw;
  height: 90vh;
  margin-left: 10px;
  left: 0;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.home__sidebar_top {
  background: var(--color-primary-light);

  width: 20vw;
  height: 10vh;
  margin-bottom: 2vh;
  border-radius: 10px;
  box-shadow: 0 7px 10px -6px var(--color-secondary-dark);
  left: 0;
  margin-top: 10px;
  z-index: 4;

  display: flex;
  align-items: center;
  flex-direction: row;
}

.home__sidebar_bottom {
  background-color: var(--color-secondary-mid);
  border-top: none;
  border-radius: 10px;
  width: 22vw;
  height: 75vh;
  padding-top: 10vh;
  left: 0;
  z-index: 4;
  display: flex;
  justify-content: center;
  overflow: scroll;
  position: relative;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin-top: 10vh;
}


.home__sidebar_bottom label {
  width: 20vw;
  height: 0vh;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  visibility: hidden;
}


.home__navbar {
  width: 100vw;
  height: 10vh;
  top: 0px;
  background-color: var(--color-secondary);
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  z-index: 4;
  border-bottom: 20px solid var(--color-secondary-dark);
}

.home__userInfo__container h1 {
  color: white;
  margin-bottom: 0;
  font-size: 2vw;
}

.home__userInfo__container p {
  color: #e6e5e5;
  margin-top: 5px;
  font-family: 'Inter';
  font-size: 1.2vw;
}

.home__userIcon__container {
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 10px;

  margin: 0.7vh;

  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.home__userIcon__container:hover {
  filter: brightness(0.75);
  cursor: pointer;
}

.home__userIcon {
  width: 6vh;
}

.home__chat_popup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 20vh;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 10vh;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.message__popup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 20vh;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: 100px;
  right: 50px;
  text-align: center;
  z-index: 10;

  width: fit-content !important;
  height: fit-content !important;
  padding: 10px;

  box-shadow: none !important;

  border: 2px solid #d7d7d7;
  border-top: 30px solid var(--color-secondary-dark);
}

.message__popup_container {
  display: flex;
  margin-top: 20px;
}

.message__popup input {
  width: 80px;
  height: 20px;
  margin: 7.5px;
  outline: none;
  border: 2px solid #eeee;
  border-radius: 10px;
  padding: 2.5px;
  padding-left: 10px;
}

.message__popup svg {
  width: 20px;
  padding: 7.5px;
  border-radius: 10px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  background-color: var(--color-secondary-dark);
  color: #bdb8b8ee;
}

.message__popup svg:hover {
  background-color: var(--color-secondary);
  filter: brightness(1.2);
}

.message__popup_close {
  position: absolute;
  top: -37.5px;
  right: 5px;
  background-color: var(--color-secondary-dark) !important;
}

.message__popup_close:hover {
  filter: brightness(1.1) !important;
}

.home__popup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 20vh;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 10vh;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;

  border-top: 30px solid var(--color-secondary-dark);
}

.home__popup label {
  font-style: italic;
  color: #b1b1b1;
  background-color: var(--color-secondary);
  padding: 0.75rem;
  border-radius: var(--border-radius);
  text-align: left;
  width: fit-content;
  min-width: 140px;
}

.home__popup h1 {
  margin-top: 0;
}

.home__popup_name_group {
  display: flex;
  align-items: center;
}


.home__popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  background: var(--color-secondary-dark);
  outline: none;
  border-radius: var(--border-radius);
  border-color: var(--color-secondary);
  border-style: solid;
  padding: 0.75rem;
}

.home__popup__close_icon {
  content: url("./icons/close.png");
  width: 20px;
  height: 20px;
}

.home__popup__image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 15px solid var(--color-primary-lighter);
  border-radius: 10px;
  background-color: var(--color-primary-lighter);

  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: -8vh;
  left: 0;
  right: 0;
}

.home__popup__image_refresh {
  background: var(--color-secondary-dark);
  outline: none;
  border-radius: var(--border-radius);
  border-color: var(--color-secondary);
  border-style: solid;
  padding: 0.75rem;

  width: fit-content;

  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 6vh;
  left: 0;
  right: 0;
}

.home__popup__image_refresh:hover {
  background: var(--color-primary-lighter);
  border-color: var(--color-primary-dark);
  cursor: pointer;
}

.home__popup__image_refresh:active {
  transform: scale(1.1);
}

.home__popup__image_refresh_icon {
  content: url("./icons/reload.png");
  width: 30px;
  height: 30px;
}

.spin {
  animation: spin 0.5s;
  animation-fill-mode: forwards;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(350deg);
  }
}

.home__popup-confirmation {
  bottom: 10px;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 10px;
}

.home__popup-confirmation button {
  margin: 10px;
}

.home__popup-cancel {
  font-family: 'Inter';
  font: 400 1rem;
  background-color: var(--color-primary);
  width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.3rem;
  color: var(--color-primary-lighter);
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
}

.home__popup-cancel:hover {
  background: var(--color-primary-dark);
  transform: scale(1.02);
}

.home__popup-cancel:active {
  transform: scale(0.98);
}

.home__chats {
  width: 10vw;
  background-color: var(--color-secondary-dark);
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__chats div {
  width: 8vw;
  background-color: var(--color-secondary-dark);
  margin-top: 10vh;
  height: 10vh
}

.home__messages {
  width: 70vw;

  height: 100vh
}

.home__messages__message {
  display: flex;
  flex-direction: row;
  align-items: left;

  width: 42vw;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15vh;
  height: fit-content;

  background-color: var(--color-secondary);
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 15px;
}

.home__messages__message:hover {
  filter: brightness(0.75);
}

.home__messages__message div {
  margin-left: 30px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.home__messages__message div h1 {
  margin: 0;
}

.home__messages__message__user {
  height: 4vw;
  width: 4vw;
  padding: 0;
  outline: none;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.home__messages__userIcon {
  width: 4vw;
}

.circle {
  background-color: #d7d7d7 !important;
  border-radius: 50px !important;
  width: 20px !important;
  margin: 2.5px;
}

.square {
  width: 20px !important;
  margin: 2.5px;
  border-radius: 0 !important;
}

.userIcon_container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: white;
  border: 2px solid white;
  border-radius: 5px;
}



/* form styling */

.container,
.form__input,
.form__button {
  font-family: 'Trebuchet MS';
  font: 400 1rem;
}

.form>*:first-child {
  margin-top: 0;
}

.form>*:last-child {
  margin-bottom: 0;
}

.form__title {
  margin-bottom: 2rem;
  text-align: center;
  color: var(--color-primary-lighter);
}

.form__message {
  text-align: center;
  margin-bottom: 1rem;
}

.form__message--success {
  color: var(--color-success);
}

.form__message--error {
  color: var(--color-error);
}

.form__input-group {
  margin-bottom: 1rem;
  width: 100%;

}

.form__input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border-color: var(--color-secondary-dark);
  border-style: solid;
  outline: none;
  background: var(--color-secondary-dark);
  color: var(--color-primary-lighter);
  transition: background 0.2s, border-color 0.2s;
  font-family: 'Trebuchet MS';
}

.form__input:focus {
  border-color: var(--color-primary);
  background: var(--color-secondary);
}

.form__input--error {
  color: var(--color-error);
  border-color: var(--color-error);
}

.form__input-error-message {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: var(--color-error);
}

.form__button {
  width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.3rem;
  color: var(--color-primary-lighter);
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--color-primary);
}

.form__button:hover {
  background: var(--color-primary-dark);
  transform: scale(1.02);
}

.form__button:active {
  transform: scale(0.98);
}

.form__text {
  text-align: center;
}

.form__link {
  color: var(--color-primary-light);
  text-decoration: none;
  cursor: pointer;
}

.form__link:hover {
  color: var(--color-primary-lighter);
}

@media (max-width: 700px) {
  .home__sidebar {
    /* visibility: hidden; */
    position: absolute;
    width: 100vw;
    height: 100vh;
  }

  .home__sidebar_top {
    position: absolute;
    visibility: hidden;
  }

  .home__sidebar_bottom {
    width: 100vw;
  }

  .chatHeader {
    width: 70vw;
    top: 2vh;
  }

  .chat {
    width: 100vw;
  }


  .whiteBg {
    z-index: 4;
  }
}

@font-face {
  font-family: 'Inter';
  src: url('./icons/Inter-Regular.ttf');
}

@font-face {
  font-family: 'CodeFont';
  src: url('./icons/JetBrainsMono-Regular.ttf');
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-style: italic;
}

body::-webkit-scrollbar {
  display: none;
  position: absolute;
}

::-webkit-scrollbar {
  display: none;
}